In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("dataset_done.csv",index_col=0)
df = df.drop(columns={"index"})

In [7]:
df.head()

,ALCOHOL,SUGAR,ACIDS,ENERGY,acid,bodied,dry,sweet,tannic,floral,...,dairy_food,fatty_food,lamb_food,nutty_food,box,desert,red,rose,sparkling,white
0,15.0,3.0,5.2,80.0,0,3,0,0,2,0,...,0,1,1,0,1,0,0,0,0,0
1,15.0,3.0,5.2,80.0,0,3,0,0,2,0,...,1,0,0,1,1,0,0,0,0,0
2,15.0,3.0,5.2,80.0,0,3,0,0,2,0,...,0,0,0,0,1,0,0,0,0,0
3,15.0,3.0,5.2,80.0,0,3,0,0,2,0,...,0,0,0,0,1,0,0,0,0,0
4,12.0,16.0,4.9,70.0,2,0,0,2,0,0,...,0,0,0,0,1,0,0,0,0,0